<%- include('partials/header') %>

<div class="container-fluid">

    <!-- Main area -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Start tests
        </div>
        <div class="card-body" style="text-align: center; min-height: 700px;">
            <div style="height: 50%; min-height: 350px; width: 100%"></div>
            <img src="assets/vendor/images/spinner.gif">
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script src="assets/js/start-tests.js"></script>

<%- include('partials/footer') %>

